<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment value="buttons">
    
    <ion-segment-button value="segment" (click)="getNT()">
      <ion-label>Old Testament</ion-label>
    </ion-segment-button>
    <ion-segment-button value="buttons" (click)="getNT()">
      <ion-label>New Testament</ion-label>
    </ion-segment-button>
  </ion-segment>
  
</ion-content>
<!-- <img src="./../../assets/books/latinvulgate.json" alt="" srcset=""> -->